body {
  font-family: "Oswald", sans-serif;

  font-style: normal;
  background-color: rgba(90, 81, 88, 0.705);
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}
header h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}
header a {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 25px;
}
footer {
  text-align: justify;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 45px;
  }

  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 15px;
  }
}
section {
  max-width: 1000px;
  margin: 0 auto;
}
footer h3 {
  font-size: 20px;
  font-weight: 700px;
  line-height: 30px;
}
footer p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
  margin-right: 30px;
}
footer ul {
  margin: 0;
}
footer li {
  list-style: none;
  margin: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
